[Desktop Entry]
Version=1.0
Type=Application
Name=autostart leftwm
GenericName=autostart leftwm
Comment=autostart leftwm
Categories=Utility;
Keywords=autostart
TryExec=/usr/local/bin/arcolinux-autostart-leftwm
Exec=/usr/local/bin/arcolinux-autostart-leftwm
