[Desktop Entry]
Version=1.0
Type=Application
Name=picom
GenericName=X compositor
Comment=A X compositor
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=picom -b --config ~/.config/leftwm/picom.conf
Exec=picom -b --config ~/.config/leftwm/picom.conf
